.container {
	display: flex;
	align-items: center;
	gap: 100px;
}

.item {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.title {
	font-size: 72px;
	background: linear-gradient(to bottom, #194c33, #bbb);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.desc {
	font-size: 22px;
	font-weight: 300;
}

.img {
	width: 90%;
	height: 500px;
	-o-object-fit: contain;
	object-fit: contain;
	margin: 0 auto;
	animation: imgAnim infinite linear 15s;
	-webkit-animation: imgAnim infinite linear 15s;
}

@media (max-width: 768px) {
	.item:last-child {
		display: none;
	}
}

@-webkit-keyframes imgAnim {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
		-webkit-transform: translateY(-8px);
		-moz-transform: translateY(-8px);
		-ms-transform: translateY(-8px);
		-o-transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
		-webkit-transform: translateY(8px);
		-moz-transform: translateY(8px);
		-ms-transform: translateY(8px);
		-o-transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
		-webkit-transform: translateY(6.4px);
		-moz-transform: translateY(6.4px);
		-ms-transform: translateY(6.4px);
		-o-transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
		-webkit-transform: translateY(-6.4px);
		-moz-transform: translateY(-6.4px);
		-ms-transform: translateY(-6.4px);
		-o-transform: translateY(-6.4px);
	}
}

@keyframes imgAnim {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
		-webkit-transform: translateY(-8px);
		-moz-transform: translateY(-8px);
		-ms-transform: translateY(-8px);
		-o-transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
		-webkit-transform: translateY(8px);
		-moz-transform: translateY(8px);
		-ms-transform: translateY(8px);
		-o-transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
		-webkit-transform: translateY(6.4px);
		-moz-transform: translateY(6.4px);
		-ms-transform: translateY(6.4px);
		-o-transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
		-webkit-transform: translateY(-6.4px);
		-moz-transform: translateY(-6.4px);
		-ms-transform: translateY(-6.4px);
		-o-transform: translateY(-6.4px);
	}
}
